.App {
  text-align: center;
  color: yellow;
  background: rgba(255,255,255,0.2);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 50%;
  position: absolute;
  left: 25%;
}

.Character-container {
  background: rgba(255,255,255,0.2);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

/*button {
  width: 100%;
  text-align: left;
}*/

/*button:focus {
    outline: none !important;
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
}*/
