.App {
  text-align: center;
  color: rgb(254,226,51);
  background: rgba(255,255,255,0.1);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  min-width: 500px;
  position: absolute;
  left: 25%;
}

h1, h3 {
  font-style: italic;
}

.Film-container {
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  min-height: 25vh;
}

.info {
  color: white;
  text-align: left;
  font-style: italic;
}
